body{
    font-family: var(--font-family-base);
    background-color: var(--color-neutral-50);
    place-items: center;
}

.body-text{
    color: var(--color-neutral-900);
}

.login-body{
    padding-top: 100px;
}

.header{
    place-items: center;
}

.header-text-1{
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-h1);
    color: var(--color-neutral-900);
}

.header-text-2{
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h2);
    color: var(--color-neutral-500);
    letter-spacing: -0.7px;
}

.inp-group{
    width: 100%;
    padding-bottom: 24px;
}

.inp {
    width: 100%;
    border-radius: 8px;
    padding: 12px 24px;
    padding-left: 52px;
    display: flex;
    color: var(--color-neutral-900);
}

.inp-primary {
    background-color: var(--color-neutral-100);
    border: 1px solid var(--color-neutral-300);
}

.inp-primary::placeholder {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
    color: var(--color-neutral-400);
}

.inp-primary:hover {
    border:1px solid var(--color-neutral-400);
    outline: none;
}

.inp-primary:focus {
    border:1px solid var(--color-primary-700);
    outline: none;
}

.inp-error, .inp-error:hover, .inp-error:focus{
    border: 1px solid var(--color-error-500);
}

.error-body{
    display: block;
    text-align: left;
}

.error-text{
    color: var(--color-error-500);
    padding-bottom: 12px;
}

.inp-label{
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-label);
    color: var(--color-neutral-800);
    padding-left: 4px;
}

.inp-icon{
    position: absolute;
    top: 25%;
}

.inp-icon-left{
    left: 16px;
    pointer-events: none;
    color: var(--color-neutral-500);
}

.inp-icon-right{
    right: 16px;
    color: var(--color-neutral-500);
}

.inp-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
}

.btn{
    width: 100%;
    border-radius: 8px;
    padding: 12px 24px;
}

.btn-primary{
    background-color: var(--color-primary-700);
    color: var(--color-neutral-0);
}

.btn-primary:hover{
    background-color: var(--color-primary-900);
}

.btn-secondary{
    display: block;
    text-align: center;
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-900);
    border: 1px solid var(--color-neutral-300);
}

.btn-secondary:hover{
    background-color: var(--color-neutral-50);
}

.reg-button{
    margin-top: 24px;
}

.inp-radio{
    display: inline-block;
}

.bottom-text{
    place-items: center;
    display: flex;
    padding-top: 12px;
}

.bottom-body{
    width: 100%;
}

.bottom-reg-text{
    display: block;
    text-align: center;
    margin-top: 36px;
    padding-top: 24px;
    padding-bottom: 12px;
    color: var(--color-neutral-700);
    border-top: 1px solid var(--color-neutral-300);
}

.link-text{
    color: var(--color-primary-700);
    padding-left: 4px;
}

.link-text:hover{
    color: var(--color-primary-900);
}


.login-form{
    width: 450px;
    place-items: center;
    justify-content: center;
    border: 1px solid var(--color-neutral-200);
    border-radius: 12px;
    margin: 20px;
    padding: 24px;
    padding-bottom: 12px;
    background-color: var(--color-neutral-0);

}